* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f6ff;
}
table {
    width: 600px;
    text-align: left;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
th {
    background-color: lightblue;
}
table, td, th {
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 8px;
    line-height: 1.3;
}
.label {
    font-weight: 600;
}