* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
#header {
    background-color: cornflowerblue;
    padding: 24px;
}

#navBar {
    background-color: grey;
    padding: 8px;
}
#main-section{
    background-color: navajowhite;
    padding: 24px;
}
#section {
    background-color: lightblue;
    padding: 16px;
}
.article{
    background-color: lightgreen;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}
#footer{
    background-color: lightblue;
    padding: 24px;
}