/*Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ejemplo Cajas */

.ejemplo{
    background-color: lightgray;
    font-size: 30px;
    width: 300px;
    height: 400px;
    padding:10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
div{
    display: block;
    min-width: 500px;
    /*max-width: 500px;*/
    /*min-height: 500px;*/
    /*max-height: 500px;*/
}

/* margen cajas de puede abreviar el margin y el padding */

div{
/*    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 15px;*/
    margin: 20px 30px 10px 15px;
   /* margin: 20px 30px;
    margin: 20px;*/
}

/* anchura = width aplicando border-box ( se debe poner al inicio de nuestra CSS */
*{
    box-sizing: border-box;
}

/* ejemplo displays */

.div-ejemplo{
    background-color: pink;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    display: inline-block;
}

span{
    background-color: orange;
    font-size: 25px;
    display: block;
}

/* Floats */
.float_div1 {
    background-color: cadetblue;
    width: 10px;
}

.float_div2{
    background-color: orange;
    width: 10px;
}

.ejemploFloatL div{
    float: left;
}

.ejemploFloatN div{
    float: none;
}

.ejemploFloatR div{
    float: right;
}
/* Ejemplo floats con texto */

.parrafo{
    float: left;
    width: 50%;
}


/*para que no colapse el div se aplica el overflow hidden*/

.ejemploFloatsU4{
    overflow: hidden;
    background-color: antiquewhite;
    border: 1px solid;

}

/*Position*/

.position_ejemplo {
    background-color: pink;
    width: 200px;
}

.position_ejemplo p{
    border: 1px solid;
    font-size: 20px;
    width: 150px;
}

/* se posicionara en la esquina superior izquierda o en el sitio se le indiquen las coordenadas en relación con el navegador..*/
.position_ejemplo span{
    background-color: orangered;
    font-size: 20px;
    width: 100px;
    position: absolute;
    /* left: 0;
     top: 0;
     bottom: 0;*/
}

/*Position en relación con un contenedor no con el navegador*/
.position_ejemplo2 {
    background-color: pink;
    width: 200px;
}

.position_ejemplo2 p{
    border: 1px solid;
    font-size: 20px;
    width: 150px;
}

.position_ejemplo2{
    position: relative;
}

.position_ejemplo2 span{
    background-color: orangered;
    font-size: 20px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;

}

span{
    z-index: 1;
}

.alt{
    background-color: lightgreen;
    z-index:0;
}