---
layout: layouts/base.njk
title: Contacto
eleventyNavigation:
  key: ilustracion
  title: Ilustracion
  order: 2
---

<div class="col-12">
  <h1>Ilustracion</h1>
  <p>
    La página de imagenes.
  </p>
</div>
